@font-face {
    font-family: 'SMT';
    src: url('../assets/fonts/ndsbios.ttf') format('truetype')
}
body {
    background-color: #212529;
    font-family: 'SMT';
    color: #e9e4ee;
}
a {
    color: #0951FD;
}
.page {
    margin: 0 auto;
    font-size: 25px;
    min-width: 320px;
    max-width: 768px;
}
.header {
    position: relative;
    width: 100%;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title {
    font-size: 28px;
    position: absolute;
    letter-spacing: 1.5px;
    top: 7px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0951FD;
}
p {
    /* text-align: center; */
    line-height: 1.6;
    letter-spacing: 1.5px;
}
.info {
    position: relative;
    margin: 10px;
    top: 60px;
}
.center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.back {
    position: relative;
    left: 10px;
    float: left;
    /* top: -10px; */
    cursor: pointer;
    height: 40px;
    width: 40px;
}