body {
    color: #e9e4ee;
}
.item-container {
    position: relative;
    margin: 10px;
    top: 10px;
}
.inventory {
    position: relative;
    border: 5px #e9e4ee solid;
    border-radius: 5px;
    display: block;
}
.invent-label {
    margin-top: 5px;
    font-size: 28px;
}
.items {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto; */
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
}
.items > div {
    text-align: center;
    margin: 16px 12px 12px 12px;
}
.item-card {
    position: relative;
}
.icon {
    width: 72px;
    height: 72px;
    object-fit: contain;
    cursor: pointer;
}
.item-text {
    top: 10px;
    letter-spacing: 1.5px;
    position: relative;
    font-size: 18px;
    color: #e9e4ee;
    text-align: center;
}
.tx {
    display: none;
}
.info {
    left: 25px;
    position: relative;
}
.info-field {
    margin: 10px;
}
.stats {
    position: relative;
    left: 10px;
    width: 180px;
    margin: 25px;
    top: 10px;
    display: none;
}
.stat {
    margin: 5px;
}
.modal-content {
    max-width: 360px;
}