body {
    background-color: #212529;
    font-family: 'Press Start 2P';
    color: white;
}
.page {
    margin: 0 auto;
    font-size: 13px;
    min-width: 320px;
    max-width: 768px;
}
.centered {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login {
    border: 5px solid #e9e4ee;
    border-radius: 5px;
    padding: 30px;
    max-width: 160px;
}
.center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.btn-text {
    right: -5px;
    position: relative;
}
.btn {
    position: relative;
    width: 160px;
    height: 40px;
    font-family: 'Press Start 2P';
    letter-spacing: 0.5px;
    box-shadow: 0px 1px 3px hsla(0, 0%, 0%, .15);
    color: white;
    cursor: pointer;
}
.handcash {
    background-image: linear-gradient(#38CB7C, #1CB462);
}
.btn:hover {
    opacity: 0.7;
}
.logout {
    color: black;
    margin-top: 40px;
}
.hcsvg {
    position: absolute;
    height: 14px;
    width: 14px;
    top: 11px;
    left: 4px;
}
@media only screen and (min-width: 768px){
    
}