.top-left-icon {
    left: 10px;
}
.prof {
    right: 10px;
}
.text {
    letter-spacing: 1.5px;
    line-height: 1.6;
    color: #e9e4ee;
    text-align: center;
}
.inventory {
    position: relative;
    border: 5px #e9e4ee solid;
    border-radius: 5px;
    display: block;
}
.item {
    position: relative;
}
.items {

}
.icon {
    width: 64px;
    height: 64px;
    position: absolute;
    left: -30px;
}
.profile {
    position: relative;
    margin: 10px;
    top: 10px;
}
.btns {
    width: 200px;
}
.btn-text {
    right: -5px;
    position: relative;
}
.btn {
    letter-spacing: 1.5px;
    box-shadow: 0px 1px 3px hsla(0, 0%, 0%, .15);
    cursor: pointer;
}
.handcash {
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    width: 140px;
    height: 40px;
    color: white;
    background-image: linear-gradient(#38CB7C, #1CB462);
}
.btn:hover {
    opacity: 0.7;
}
.logout {
    color: black;
    margin-top: 20px;
    height: 40px;
    width: 140px;
    border-radius: 5px;
}
.hcsvg {
    position: absolute;
    height: 14px;
    width: 14px;
    top: 12px;
    left: 11px;
}
.details {
    display: none;
    margin-top: 20px;
    font-size: 22px;
}
.bottom-section {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}