@font-face {
    font-family: 'SMT';
    src: url('../assets/fonts/ndsbios.ttf') format('truetype')
}
body {
    background-color:#212529;
    font-family: 'SMT';
}
button, input {
    font-family: 'SMT';
    font-size: 22px;
}
.text {
    letter-spacing: 1.5px;
    line-height: 1.6;
    color: #e9e4ee;
    text-align: center;
}
p {
    letter-spacing: 1.5px;
    line-height: 1.6;
    color: #e9e4ee;
}
.page {
    margin: 0 auto;
    font-size: 13px;
    font-size: 25px;
    min-width: 360px;
    max-width: 768px;
}
.header {
    position: relative;
    width: 100%;
}
.title {
    font-size: 28px;
    position: absolute;
    letter-spacing: 1.5px;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0951FD;
}
.prof {
    border-radius: 50%;
    margin-right: 10px;
    float: right;
    position: relative;
    bottom: 5px;
}
.avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.centered {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inventory {
    position: relative;
    border: 5px #e9e4ee solid;
    border-radius: 5px;
    display: block;
}
.item {
    position: relative;
}
.items {

}
.icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: -30px;
}
.center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.profile {
    position: relative;
    margin: 10px;
    /* border: 1px solid white; */
    top: 60px;
}
.btns {
    width: 200px;
}
.btn-text {
    right: -5px;
    position: relative;
}
.btn {
    letter-spacing: 1.5px;
    box-shadow: 0px 1px 3px hsla(0, 0%, 0%, .15);
    cursor: pointer;
}
.handcash {
    margin-top: 20px;
    position: relative;
    width: 120px;
    height: 40px;
    color: white;
    background-image: linear-gradient(#38CB7C, #1CB462);
}
.btn:hover {
    opacity: 0.7;
}
.logout {
    color: black;
    margin-top: 20px;
    height: 25px;
}
.hcsvg {
    position: absolute;
    height: 14px;
    width: 14px;
    top: 11px;
    left: 4px;
}
.back {
    position: relative;
    left: 10px;
    float: left;
    cursor: pointer;
    height: 40px;
    width: 40px;
}
.details {
    display: none;
    margin-top: 20px;
    font-size: 22px;
}
.bottom-section {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}
a:visited {
    color: #0951FD;
}